/*---------------------------------------------------
               dora footer css                   
---------------------------------------------------*/

.copyright {
  padding: 40px 0;
  background-color: var(--cf-hero-bg);
  text-align: center;
  p {
    color: var(--cf-dark);
  }
  a {
    color: var(--cf-primary-color);
  }
}
